<div class="container">
    <div class="mt-160 pt-lg-4 max-width-800 mx-auto text-center">
        <h1>Terms of Use</h1>
    </div>
</div>

<section class="py-xl-100 py-50">
    <div class="container">
        <div class="d-flex flex-xl-row flex-column gap-xl-80 gap-5 scroll-spy">
            <div class="w-xl-30 position-sticky-xl end-0 z-index-9 h-100 top-px-120">
                <div id="list-example" class="list-group">
                    <a class="list-group-item list-group-item-action px-0">Intro</a>

                    <a class="list-group-item list-group-item-action px-0">Our Data Protection
                        Principles</a>
                    <nav class="nav nav-pills flex-column px-0">
                        <a class="list-group-item list-group-item-action px-0">1.
                            Data Controller</a>
                        <a class="list-group-item list-group-item-action px-0">2.
                            How we collect your personal data</a>
                        <a class="list-group-item list-group-item-action px-0">3.
                            Personal Data We Use, Purposes and Legal Grounds</a>
                    </nav>
                </div>
            </div>
            <div class="w-xl-70">
                <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                    class="scrollspy-example" tabindex="0">
                    <div id="list-item-1">
                        <h4 class="fw-500 mb-4">Intro</h4>
                        <p class="text-black-70">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <div class="fw-500 fs-16 mb-3">
                            This privacy policy:
                        </div>
                        <ul class="ps-0 icon-before tick-before">
                            <li class="text-black-70 fs-18 mb-3">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book.</li>
                            <li class="text-black-70 fs-18">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book.
                            </li>
                        </ul>
                    </div>
                    <div id="list-item-2" class="pt-80">
                        <h4 class="fw-500 mb-4">Our Data Protection Principles</h4>
                        <p class="mb-xl-4 mb-3 text-black-70">Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>

                        <ol class="list-unstyled counter-increment-1 ps-0">
                            <li class="text-black-70 fs-18 mb-3">Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1500s.</li>
                            <li class="text-black-70 fs-18 mb-3">Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1500s.</li>
                            <li class="text-black-70 fs-18 mb-3">Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1500s.</li>
                            <li class="text-black-70 fs-18 mb-3">Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1500s.</li>
                            <li class="text-black-70 fs-18 mb-3">Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1500s.</li>
                            <li class="text-black-70 fs-18 mb-3">Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1500s.</li>
                        </ol>
                    </div>
                    <div id="list-item-2-1" class="pt-80">
                        <h4 class="fw-500 mb-4">1. Data Controller</h4>
                        <ol class="list-unstyled counter-increment-1 ps-0">
                            <li class="text-black-70 fs-18 mb-3">Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1500s.</li>
                            <li class="text-black-70 fs-18 mb-3">Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1500s.</li>
                            <li class="text-black-70 fs-18 mb-3">Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1500s.</li>
                        </ol>
                    </div>
                    <div id="list-item-2-2" class="pt-80">
                        <h4 class="fw-500 mb-4">2. How we collect your personal data</h4>
                        <p class="mb-xl-4 mb-3 text-black-70">2. Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s.</p>
                        <p class="mb-2 text-black-70">Personal data collected directly from you, including:</p>
                        <ul class="ps-0 icon-before tick-before">
                            <li class="text-black-70 fs-18 mb-3">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.</li>
                            <li class="text-black-70 fs-18 mb-3">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.
                            </li>
                            <li class="text-black-70 fs-18 mb-3">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.
                            </li>
                        </ul>

                        <p class="mb-2 text-black-70">Personal data collected directly from you, including:</p>
                        <ul class="ps-0 icon-before tick-before">
                            <li class="text-black-70 fs-18 mb-3">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.</li>
                            <li class="text-black-70 fs-18 mb-3">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.
                            </li>
                            <li class="text-black-70 fs-18 mb-3">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.
                            </li>
                        </ul>
                    </div>

                    <div id="list-item-2-3" class="pt-80">
                        <h4 class="fw-500 mb-4">3. Personal Data We Use, Purposes and Legal Grounds</h4>
                        <p class="mb-xl-4 mb-3 text-black-70">Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>

                        <p class="mb-xl-4  mb-3 text-black-70">First of all, every business idea requires validation. This
                            step
                            involves business analysts and a product manager who thoroughly research the current market
                            situation and competitors, define their product’ s value proposition, and establish target
                            audience and use case scenarios. As a result of this preliminary stage, your team should be
                            able to clearly identify the future marketplace’ s purpose, the size of the potential
                            market, and the audience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


