<div class="hero">
    <div class="hero-content justify-content-start bg-img-services-landing">
        <div class="container">
            <div
                class="d-flex gap-xl-80 w-100 justify-content-between mt-112 mt-xl-208 flex-column flex-xl-row pb-5 pb-4 pb-xl-80 border-bottom border-dark-20">
                <div class="w-xl-50">
                    <div class="d-flex align-items-xl-center align-items-start gap-2 flex-column flex-xl-row">
                        <h1 class="text-start">
                            <span
                                class="fs-20 text-uppercase mb-0 d-xl-inline-block d-block pb-12 align-middle text-black-50 fw-500">Product</span>
                            Build your solution
                        </h1>
                    </div>
                </div>
                <div class="w-xl-50 text-start mt-4 text-black-70">
                    <p>Helping businesses of tomorrow move forward by delivering amazing digital experiences.</p>
                </div>
            </div>

            <div class="d-flex w-100 justify-content-between flex-column flex-xl-row py-xl-80 py-5 gap-xl-80">
                <div class="w-xl-50">
                    <div class="text-start py-xl-5 py-3 border-bottom border-dark-20">
                        <h4 class="fw-500">When unknown printer took</h4>
                        <p class="text-black-70">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown.</p>
                    </div>

                    <div class="text-start py-xl-5 py-3">
                        <h4 class="fw-500">When unknown printer took</h4>
                        <p class="text-black-70">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown.</p>
                    </div>
                </div>
                <div class="w-xl-50 mt-xl-0 mt-4 ">
                    <img src="assets/img/cluster-slabs.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- <img src="https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""> -->
</div>

<section>
    <div class="container">
        <div class="m-auto max-width-700 text-center py-xl-100 py-50">
            <p class="text-uppercase text-primary-40 fw-500">Products</p>
            <h2>When an unknown printer took a galley of type.</h2>
        </div>

        <div class="d-flex w-100 justify-content-between flex-column flex-xl-row gap-4">
            <div class="d-flex flex-column w-xl-50">
                <div class=""><img src="assets/img/cluster-gray.png" alt=""></div>
                <span class="fs-16 mt-3 mb-1 text-black-40">Campaign</span>
                <h6 class="fw-500">Fleet - Making busses cool again</h6>
                <p class="my-2 text-black-70">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit blanditiis nobis mollitia
                    distinctio quo repudiandae voluptatem delectus, sapiente officiis non.</p>
                <button
                    class="btn btn-primary-link text-uppercase fs-14 fw-500 p-0 text-decoration-underline text-start">
                    learn more <i class="fa fa-chevron-circle-right ms-2"></i></button>
            </div>

            <div class="d-flex flex-column w-xl-50 mt-xl-0 mt-4">
                <div class=""><img src="assets/img/cluster-blue.png" alt=""></div>
                <span class="fs-16 mt-3 mb-1 text-black-40">Campaign</span>
                <h6 class="fw-500">Fleet - Making busses cool again</h6>
                <p class="my-2 text-black-70">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit blanditiis nobis mollitia
                    distinctio quo repudiandae voluptatem delectus, sapiente officiis non.</p>
                <button
                    class="btn btn-primary-link text-uppercase fs-14 fw-500 p-0 text-decoration-underline text-start">
                    learn more <i class="fa fa-chevron-circle-right ms-2"></i></button>
            </div>
        </div>
    </div>
</section>

<section class="py-xl-100 py-50">
    <div class="container">
        <p class="text-uppercase  text-primary-40 fw-500">benefits</p>
        <h2 class="max-width-600">When an unknown printer took a galley of type.</h2>

        <div class="d-lg-flex gap-2 mt-5 pt-lg-5 pt-0">
            <div class="flex-1 mb-5 mb-lg-0">
                <div class="border border-dark-20 align-items-center d-flex justify-content-center rounded-pill height-28 width-46">
                    <span class="fs-15">01</span>
                </div>
                <h4 class="my-lg-4 mt-3 w-lg-75 text-balance fw-500">When unknown printer took</h4>
                <p class="text-black-70">Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown.</p>
            </div>
            <div class="flex-1 mb-5 mb-lg-0">
                <div class="border border-dark-20 align-items-center d-flex justify-content-center rounded-pill height-28 width-46">
                    <span class="fs-15">02</span>
                </div>
                <h4 class="my-lg-4 mt-3 w-lg-75 text-balance fw-500">When unknown printer took</h4>
                <p class="text-black-70">Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown.</p>
            </div>
            <div class="flex-1">
                <div class="border border-dark-20 align-items-center d-flex justify-content-center rounded-pill height-28 width-46">
                    <span class="fs-15">03</span>
                </div>
                <h4 class="my-lg-4 mt-3 w-lg-75 text-balance fw-500">When unknown printer took</h4>
                <p class="text-black-70">Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown.</p>
            </div>
        </div>
    </div>
</section>