<div class="hero">
    <div class="hero-content justify-content-start bg-white">
        <div class="container">
            <div
                class="d-flex gap-xl-80 gap-5 w-100 justify-content-between mt-112 mt-xl-160 flex-column flex-xl-row pb-5 pb-xl-80">
                <div class="w-xl-50">
                    <div class="d-flex gap-2 flex-column">
                        <h2 class="text-start text-balance">
                            <span
                                class="fs-20 text-uppercase mb-0 d-xl-inline-block d-block pb-12 align-middle text-black-40 fw-500 fw-500">RESEARCH</span>
                            Virtue innovates. Continuous research and development is our signature trait.
                        </h2>

                        <div
                            class="d-flex align-items-center flex-column flex-md-row gap-3 gap-lg-2  pt-xl-2 mt-xl-5 mt-3">
                            <input class="form-control height-lg-60 height-50"
                                placeholder="Search title or keyword here">
                            <button
                                class="btn btn-primary height-lg-60 height-50 text-uppercase w-100 w-md-unset">Search</button>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column w-xl-50  border-bottom border-dark-20 pb-5">
                    <h5 class="font-medium mb-3">Latest updates</h5>
                    <div class="img-hover-button w-100">
                        <div class=""><img src="https://images.unsplash.com/photo-1536246026435-0cbb2a92952a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                            class="height-300 object-fit-cover w-100" alt=""></div>
                        <div class="overlay"></div>
                        <a >
                            <div class="button">
                              <img src="assets/img/arrow-down-rotate.svg" class="w-unset h-unset">
                            </div>
                          </a>
                    </div><span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Updates (blog)</span>
                    <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of Marketing Funnel</p>
                    <span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="">
    <div class="container">
        <div class="d-flex justify-content-between gap-lg-0 gap-3">
            <div class="w-lg-unset w-50 tab-area">
                <h6 class="fs-16 text-black-opacity-4 mb-4 text-uppercase text-black-40 fw-500">Category:</h6>
                <ul class="nav nav-pills mb-3 d-lg-flex d-none" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pill-first-tab" type="button" role="tab" aria-controls="pill-first"
                            aria-selected="true" [class.active]="viewType == 'pill-first'"
                            (click)="tabToggle('pill-first')">All</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pill-second-tab" type="button" role="tab"
                            aria-controls="pill-second" aria-selected="false" [class.active]="viewType == 'pill-second'"
                            (click)="tabToggle('pill-second')">Business</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pill-third-tab" [class.active]="viewType == 'pill-third'"
                            (click)="tabToggle('pill-third')" type="button" role="tab" aria-controls="pill-third"
                            aria-selected="false">Work</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pill-fourth-tab" [class.active]="viewType == 'pill-fourth'"
                            (click)="tabToggle('pill-fourth')" type="button" role="tab" aria-controls="pill-fourth"
                            aria-selected="false">Company</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pill-fifth-tab" [class.active]="viewType == 'pill-fifth'"
                            (click)="tabToggle('pill-fifth')" type="button" role="tab" aria-controls="pill-fifth"
                            aria-selected="false">Global</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pill-sixth-tab" [class.active]="viewType == 'pill-sixth'"
                            (click)="tabToggle('pill-sixth')" type="button" role="tab" aria-controls="pill-sixth"
                            aria-selected="false">Technology</button>
                    </li>
                </ul>

                <select class="form-select width-lg-300 height-lg-50 height-45 d-lg-none d-block"
                    [(ngModel)]="selectedTabOption" (change)="onTabChange($event)">
                    <option *ngFor="let tabOption of tabOptions" [value]="tabOption.value">{{tabOption.name}}</option>
                </select>
            </div>
            <div class="w-lg-unset w-50">
                <h6 class="fs-16 text-black-opacity-4 mb-4 text-uppercase text-black-40 fw-500">Sort by:</h6>
                <select class="form-select width-lg-300 height-lg-50 height-45">
                    <option>1</option>
                    <option>1</option>
                    <option>1</option>
                    <option>1</option>
                </select>
            </div>
        </div>


        <div class="tab-content" id="pills-tabContent">
            <h2 class="py-lg-5 py-3">Latest blog posts from Virtue</h2>
            <div class="tab-pane fade" [ngClass]="viewType == 'pill-first' ? 'show active': ''" id="pill-first"
                role="tabpanel" aria-labelledby="pill-first-tab">
                <div class="d-grid grid-columns-340 col-gap-22 row-gap-lg-60 row-gap-30">
                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <div class=""><img src="assets/img/girl-sitting-on-chair.png" class="height-300 object-fit-cover w-100" alt=""></div>
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <div class=""><img src="assets/img/car.png" class="height-300 object-fit-cover w-100" alt=""></div>
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <div class=""><img src="assets/img/group-discussion.png" class="height-300 object-fit-cover w-100" alt=""></div>
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <div class=""><img src="assets/img/close-up-hand-holding.png" class="height-300 object-fit-cover w-100" alt=""></div>
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <div class=""><img src="assets/img/firosnv-photography.png" class="height-300 object-fit-cover w-100" alt=""></div>
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <div class=""><img src="assets/img/data-center.png" class="height-300 object-fit-cover w-100" alt=""></div>
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" [ngClass]="viewType == 'pill-second' ? 'show active': ''" id="pill-second"
                role="tabpanel" aria-labelledby="pill-second-tab">
                <div class="d-grid grid-columns-340 col-gap-22 row-gap-lg-60 row-gap-30">
                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="https://images.unsplash.com/photo-1633114128814-11fac33f707b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                                class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="https://images.unsplash.com/photo-1633114128814-11fac33f707b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                                class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="https://images.unsplash.com/photo-1633114128814-11fac33f707b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                                class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="https://images.unsplash.com/photo-1633114128814-11fac33f707b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                                class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="https://images.unsplash.com/photo-1633114128814-11fac33f707b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                                class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="https://images.unsplash.com/photo-1633114128814-11fac33f707b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                                class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" [ngClass]="viewType == 'pill-third' ? 'show active': ''" id="pill-third"
                role="tabpanel" aria-labelledby="pill-third-tab">
                <div class="d-grid grid-columns-340 col-gap-22 row-gap-lg-60 row-gap-30">
                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="assets/img/girl-sitting-on-chair.png" class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="assets/img/car.png" class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="assets/img/group-discussion.png" class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="assets/img/close-up-hand-holding.png" class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="assets/img/firosnv-photography.png" class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="assets/img/data-center.png" class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" [ngClass]="viewType == 'pill-fourth' ? 'show active': ''" id="pill-fourth"
                role="tabpanel" aria-labelledby="pill-fourth-tab">
                <div class="d-grid grid-columns-340 col-gap-22 row-gap-lg-60 row-gap-30">
                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="https://images.unsplash.com/photo-1633114128814-11fac33f707b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                                class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="https://images.unsplash.com/photo-1633114128814-11fac33f707b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                                class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="https://images.unsplash.com/photo-1633114128814-11fac33f707b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                                class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="https://images.unsplash.com/photo-1633114128814-11fac33f707b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                                class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="https://images.unsplash.com/photo-1633114128814-11fac33f707b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                                class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="https://images.unsplash.com/photo-1633114128814-11fac33f707b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                                class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" [ngClass]="viewType == 'pill-fifth' ? 'show active': ''" id="pill-fifth"
                role="tabpanel" aria-labelledby="pill-fifth-tab">
                <div class="d-grid grid-columns-340 col-gap-22 row-gap-lg-60 row-gap-30">
                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="assets/img/girl-sitting-on-chair.png" class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="assets/img/car.png" class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="assets/img/group-discussion.png" class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="assets/img/close-up-hand-holding.png" class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="assets/img/firosnv-photography.png" class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="assets/img/data-center.png" class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" [ngClass]="viewType == 'pill-sixth' ? 'show active': ''" id="pill-sixth"
                role="tabpanel" aria-labelledby="pill-sixth-tab">
                <div class="d-grid grid-columns-340 col-gap-22 row-gap-lg-60 row-gap-30">
                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="assets/img/hack-building.png" class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="assets/img/close-up-laptop.png" class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="assets/img/programming-background.png" class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="https://images.unsplash.com/photo-1633114128814-11fac33f707b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                                class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="https://images.unsplash.com/photo-1633114128814-11fac33f707b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                                class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="img-hover-button w-100">
                            <img src="https://images.unsplash.com/photo-1633114128814-11fac33f707b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                                class="height-300 object-fit-cover w-100">
                            <div class="overlay"></div>
                            <a >
                                <div class="button">
                                    <img src="assets/img/arrow-down-rotate.svg">
                                </div>
                            </a>
                        </div>
                        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                        <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of
                            Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-xl-100 py-50">
    <div class="container">
        <div
            class="d-flex w-100 justify-content-between align-items-center flex-column flex-xl-row pt-xl-80 pb-xl-0 py-5 gap-xl-80">
            <div class="w-xl-50 mt-xl-0 mt-4 w-100 ">
                <img src="assets/img/girl-using-laptop.png"
                    class="height-xl-500 height-lg-400 height-260 object-fit-cover img-fluid w-100">
            </div>
            <div class="w-xl-50 w-100">
                <div class="d-flex flex-column">
                    <span class="fs-16 mt-3 text-uppercase  text-black-40 fw-500">White papers</span>
                    <p class="my-2 fw-500 fs-22 max-width-lg-500 text-balance">Attention Metrics Show Potential at Top and
                        Bottom of Marketing Funnel</p><span class="fs-16 text-black-40 fw-500">November 16, 2022</span>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pb-xl-100 pb-50">
    <div class="container">
        <div class="d-grid grid-columns-340 col-gap-22 row-gap-lg-60 row-gap-30">
            <div class="d-flex flex-column">
                <div class="img-hover-button w-100">
                    <div class=""><img src="https://images.unsplash.com/photo-1516315720917-231ef9acce48?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=867&q=80"
                        class="height-300 object-fit-cover w-100" alt=""></div>
                    <div class="overlay"></div>
                    <a >
                        <div class="button">
                            <img src="assets/img/arrow-down-rotate.svg">
                        </div>
                    </a>
                </div>
                <span class="fs-16 mt-3 text-uppercase  text-black-40 fw-500">White papers</span>
                <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom of Marketing Funnel</p><span
                    class="fs-16 text-black-40 fw-500">November 16, 2022</span>
            </div>

            <div class="d-flex flex-column">
                <div class="img-hover-button w-100">
                    <div class=""><img src="assets/img/cactus.png" class="height-300 object-fit-cover w-100" alt=""></div>
                    <div class="overlay"></div>
                    <a >
                        <div class="button">
                            <img src="assets/img/arrow-down-rotate.svg">
                        </div>
                    </a>
                </div>
                <span class="fs-16 mt-3 text-uppercase  text-black-40 fw-500">White papers</span>
                <p class="my-2 fw-500">Worldline x Primer: Build the right strategy to access high-growth markets</p><span
                    class="fs-16 text-black-40 fw-500">November 16, 2022</span>
            </div>

            <div class="d-flex flex-column">
                <div class="img-hover-button w-100">
                    <div class=""><img src="assets/img/close-up-hand-holding.png" class="height-300 object-fit-cover w-100" alt=""> </div>
                    <div class="overlay"></div>
                    <a >
                        <div class="button">
                            <img src="assets/img/arrow-down-rotate.svg">
                        </div>
                    </a>
                </div>
                <span class="fs-16 mt-3 text-uppercase  text-black-40 fw-500">White papers</span>
                <p class="my-2 fw-500">How to build the world's best checkout with dynamic payment flows</p><span
                    class="fs-16 text-black-40 fw-500">November 16, 2022</span>
            </div>
        </div>
    </div>
</section>

<section class="position-relative d-grid align-items-center height-lg-600 height-400 bg-gray-30">
    <div class="container">
        <div class="mb-5 text-black text-center">
            <p class="text-uppercase text-uppercase text-black-40 fw-500">newsletter</p>
            <h1 class="m-auto max-width-400">Subscribe to newsletter</h1>
            <div
                class="d-flex align-items-center flex-column flex-lg-row gap-3 gap-lg-2 m-auto max-width-600 mt-4 pt-2">
                <input class="form-control height-50" placeholder="Enter your email address">
                <button class="btn btn-primary height-50 text-uppercase w-100 w-lg-unset">Subscribe</button>
            </div>
        </div>
    </div>
</section>