.text-primary {
    color: $primary !important;
}
.text-primary-40{
    color: rgba(25, 71, 85, 0.4) !important;
}
.text-secondary {
    color: $secondary !important;
}
.text-blue {
    color: $brand-blue;
}
.text-yellow {
    color: $brand-yellow;
}
.text-brown {
    color: $brand-brown;
}
.text-green {
    color: $brand-green;
}
.text-gray {
    color: $gray;
}
.text-black-30 {
    color: rgba(0, 0, 0, 0.3);
}
.text-black-40 {
    color: rgba(0, 0, 0, 0.4);
}
.text-black-50 {
    color: rgba(0, 0, 0, 0.5);
}
.text-black-60 {
    color: rgba(0, 0, 0, 0.6);
}
.text-black-70 {
    color: rgba(0, 0, 0, 0.7);
}
.border-gray {
    border-color: #d9d9d9 !important;
}

.btn-primary-link {
    color: var(--primary);
    text-decoration: unset;
    &:hover {
        opacity: 0.9;
    }
}
.btn-primary {
    background: var(--primary);
    color: #fff;
    border: 1px solid var(--primary);
    border-radius: 0;
    &:hover {
        opacity: 0.9;
        background: var(--primary);
    }
    &:focus {
        opacity: 0.9;
        background: var(--primary);
        border-color: var(--primary);
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(25, 71, 85, 0.4);
    }
}
.btn-outline-white {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    &:hover {
        // background: #fff;
        // border: 1px solid #fff;
        color: #fff;
    }
}
.bg-primary {
    background: $primary !important;
}
.bg-secondary {
    background: $secondary !important;
}
.bg-blue {
    background: $brand-blue;
}
.bg-yellow {
    background: $brand-yellow;
}
.bg-brown {
    background: $brand-brown;
}
.bg-green {
    background: $brand-green;
}
.bg-gray {
    background: $gray;
}
.bg-gray-30 {
    background: rgba(227, 233, 236, 0.3);
}
.bg-gray-50 {
    background: rgba(227, 233, 236, 0.5);
}
.bg-primary-light {
    background: rgba(25, 71, 85, 0.1);
}
.bg-secondary-light {
    background: rgba(210, 120, 138, 0.1);
}
.bg-blue-light {
    background: rgba(90, 120, 158, 0.1);
}
.bg-yellow-light {
    background: rgba(246, 157, 53, 0.1);
}
.bg-brown-light {
    background: rgba(205, 169, 147, 0.1);
}
.bg-green-light {
    background: rgba(146, 167, 163, 0.1);
}
.bg-gray-light {
    background: rgba(227, 233, 236, 0.1);
}
.bg-img-services {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/img/services-1.png');
}
.bg-img-services-landing {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/img/services-landing-hero.png');
}
.bg-img-about-1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets//img/about-1.png');
}
.bg-img-index-2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/img/circles.png");
    background-size: 40%;
    background-position: top 90px right 270px;
}
.bg-img-about-2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/img/circle-2.png");
    background-size: 65%;
    background-position: top 90px right 0;
    @media (max-width:992px){
        background-image: none;
    }
}
.bg-img-solution-landing {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/img/solution-1.png');
}
.bg-img-terms {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/img/terms-policies-1.png');
}
@media (max-width:576px){
    .bg-img-index-2{
        background-size: 50%;
        background-position: top 88% right 35px;
    }
}
.bg-img-index-3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/img/index-3.png");
    margin-left: 5%;
}
@media (max-width: 576px) {
    .bg-img-index-2 {
        margin-left: 24px;
    }
}
.bg-size-cover {
    background-size: cover;
}
.bg-size-contain {
    background-size: contain;
}
.border-primary {
    border-color: $primary !important;
}
.border-secondary {
    border-color: $secondary !important;
}

.align-self-start {
    align-self: flex-start;
}
.align-self-end {
    align-self: flex-end;
}
.font-bold {
    font-weight: $font-weight-bold;
}
.font-medium {
    font-weight: $font-weight-medium;
}
.font-semibold {
    font-weight: $font-weight-semibold;
}

.object-fit-cover {
    object-fit: cover;
}

.flex-0-0-50 {
    flex: 0 0 48%;
}
.flex-0-0-100 {
    flex: 0 0 100%;
}

.text-balance {
    text-wrap: balance !important;
}
.fs-1 {
    font-size: calc(1.375rem + 1.5vw) !important;
}

.fs-2 {
    font-size: calc(1.325rem + 0.9vw) !important;
}

.fs-3 {
    font-size: calc(1.3rem + 0.6vw) !important;
}

.fs-4 {
    font-size: calc(1.275rem + 0.3vw) !important;
}

.fs-5 {
    font-size: 1.25rem !important;
}

.fs-6 {
    font-size: 1rem !important;
}

.fs-8 {
    font-size: 0.5rem !important;
}

.fs-9 {
    font-size: 0.5625rem !important;
}

.fs-10 {
    font-size: 0.625rem !important;
}

.fs-11 {
    font-size: 0.6875rem !important;
}

.fs-12 {
    font-size: 0.75rem !important;
}

.fs-13 {
    font-size: 0.8125rem !important;
}

.fs-14 {
    font-size: 0.875rem !important;
}

.fs-15 {
    font-size: 0.9375rem !important;
}

.fs-16 {
    font-size: 1rem !important;
}

.fs-17 {
    font-size: 1.0625rem !important;
}

.fs-18 {
    font-size: 1.125rem !important;
}

.fs-19 {
    font-size: 1.1875rem !important;
}

.fs-20 {
    font-size: 1.25rem !important;
}

.fs-21 {
    font-size: 1.3125rem !important;
}

.fs-22 {
    font-size: 1.375rem !important;
}

.fs-23 {
    font-size: 1.4375rem !important;
}

.fs-24 {
    font-size: 1.5rem !important;
}

.fs-25 {
    font-size: 1.5625rem !important;
}

.fs-26 {
    font-size: 1.625rem !important;
}

.fs-27 {
    font-size: 1.6875rem !important;
}

.fs-28 {
    font-size: 1.75rem !important;
}

.fs-29 {
    font-size: 1.8125rem !important;
}

.fs-30 {
    font-size: 1.875rem !important;
}

.fs-31 {
    font-size: 1.9375rem !important;
}

.fs-32 {
    font-size: 2rem !important;
}

.fs-33 {
    font-size: 2.0625rem !important;
}

.fs-34 {
    font-size: 2.125rem !important;
}

.fs-35 {
    font-size: 2.1875rem !important;
}

.fs-36 {
    font-size: 2.25rem !important;
}

.fs-37 {
    font-size: 2.3125rem !important;
}

.fs-38 {
    font-size: 2.375rem !important;
}

.fs-39 {
    font-size: 2.4375rem !important;
}

.fs-40 {
    font-size: 2.5rem !important;
}

.fs-41 {
    font-size: 2.5625rem !important;
}

.fs-42 {
    font-size: 2.625rem !important;
}

.fs-43 {
    font-size: 2.6875rem !important;
}

.fs-44 {
    font-size: 2.75rem !important;
}

.fs-45 {
    font-size: 2.8125rem !important;
}

.fs-46 {
    font-size: 2.875rem !important;
}

.fs-47 {
    font-size: 2.9375rem !important;
}

.fs-48 {
    font-size: 3rem !important;
}

.fs-49 {
    font-size: 3.0625rem !important;
}

.fs-50 {
    font-size: 3.125rem !important;
}
.fw-300 {
    font-weight: $font-weight-light;
}

.fw-400 {
    font-weight: $font-weight-regular;
}

.fw-500 {
    font-weight: $font-weight-medium;
}

.fw-600 {
    font-weight: $font-weight-semibold;
}

.fw-700 {
    font-weight: $font-weight-bold;
}

.fw-800 {
    font-weight: $font-weight-extrabold;
}
.py-30 {
    padding-block: px2rem(30);
}
.py-40 {
    padding-block: px2rem(40);
}
.py-50 {
    padding-block: px2rem(50);
}

.py-100 {
    padding-block: px2rem(100);
}
.py-200 {
    padding-block: px2rem(200);
}
.pt-100 {
    padding-top: px2rem(100);
}
.pt-150 {
    padding-top: px2rem(150);
}
.pt-180 {
    padding-top: px2rem(180);
}
.pt-50 {
    padding-top: px2rem(50);
}
.pt-34 {
    padding-top: px2rem(34);
}
.pb-12 {
    padding-bottom: px2rem(12);
}
.pt-80 {
    padding-top: px2rem(80);
}
.py-80 {
    padding-block: px2rem(80);
}
.px-80 {
    padding-inline: px2rem(80);
}
.pb-50 {
    padding-bottom: px2rem(50);
}
.pb-80 {
    padding-bottom: px2rem(80);
}
.pb-100 {
    padding-bottom: px2rem(100);
}
.gap-64 {
    gap: px2rem(64);
}
.gap-80 {
    gap: px2rem(80);
}
.max-width-230 {
    max-width: 230px;
}
.max-width-400 {
    max-width: 400px;
}
.max-width-420 {
    max-width: 420px;
}
.max-width-500 {
    max-width: 500px;
}
.max-width-600 {
    max-width: 600px;
}
.max-width-650 {
    max-width: 650px;
}
.max-width-700 {
    max-width: 700px;
}
.max-width-800 {
    max-width: 800px;
}
.max-width-900 {
    max-width: 900px;
}
.avatar-sm {
    width: 32px;
    height: 32px;
}
.avatar-md {
    width: 48px;
    height: 48px;
}
.width-20 {
    width: px2rem(20) !important;
}
.width-46 {
    width: px2rem(46) !important;
}
.width-80 {
    width: px2rem(80) !important;
}
.width-300 {
    width: px2rem(300) !important;
}
.min-width-46 {
    min-width: px2rem(46) !important;
}
.w-unset {
    width: unset !important;
}
.h-unset {
    height: unset !important;
}
.height-20 {
    height: px2rem(20) !important;
}
.height-22 {
    height: px2rem(22) !important;
}
.height-28 {
    height: px2rem(28) !important;
}
.height-45 {
    height: px2rem(45) !important;
}
.height-46 {
    height: px2rem(46) !important;
}
.height-50 {
    height: px2rem(50) !important;
}
.height-60 {
    height: px2rem(60) !important;
}
.height-80 {
    height: px2rem(80) !important;
}
.height-150 {
    height: px2rem(150) !important;
}
.height-200 {
    height: px2rem(200) !important;
}
.height-220 {
    height: px2rem(220) !important;
}
.height-260 {
    height: px2rem(260) !important;
}
.height-300 {
    height: px2rem(300) !important;
}
.height-400 {
    height: px2rem(400) !important;
}
.height-450 {
    height: px2rem(450) !important;
}
.height-500 {
    height: px2rem(500) !important;
}
.height-600 {
    height: px2rem(600) !important;
}
.height-700 {
    height: 700px;
}
.vh-50 {
    height: 50vh;
}
.vh-70 {
    height: 70vh;
}
.grid-area-1-1 {
    grid-area: 1/-1;
}
.bottom-50 {
    bottom: 50px !important;
}
.top-15 {
    top: 15px;
}
.top-20 {
    top: 20px;
}
.top-65 {
    top: 65px;
}
.top-px-120 {
    top: 120px;
}
.start-10 {
    inset-inline-start: 10px;
}
.start-12 {
    inset-inline-start: 12px;
}
.start-2 {
    inset-inline-start: 2px;
}
.start-n5 {
    inset-inline-start: -5px;
}
.z-index-9 {
    z-index: 9 !important;
}
.mt-94 {
    margin-top: px2rem(94) !important;
}
.mt-112 {
    margin-top: px2rem(112) !important;
}
.mt-160 {
    margin-top: px2rem(160) !important;
}
.mt-208 {
    margin-top: px2rem(208) !important;
}
.mb-50 {
    margin-top: px2rem(50) !important;
}
.mb-100 {
    margin-top: px2rem(100) !important;
}
.mb-150 {
    margin-top: px2rem(150) !important;
}
.mt-80 {
    margin-top: 80px;
}
.img-hover-button {
    position: relative;
    cursor: pointer;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        transition: background 0.5s ease;
    }
    &:hover {
        .overlay {
            display: block;
            background: rgba(0, 0, 0, 0.3);
        }
    }
    .button {
        background: #fff;
        position: absolute;
        width: 85px;
        height: 85px;
        border-radius: 50%;
        left: 0;
        top: 0;
        text-align: center;
        opacity: 0;
        transition: opacity 0.35s ease;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 992px) {
            width: 65px;
            height: 65px;
            opacity: 1 !important;
        }
    }
    &:hover {
        .button {
            opacity: 1;
        }
    }
    .button {
        &:hover {
            color: $secondary;
        }
    }
}
.fa-rotate-310 {
    transform: rotate(310deg);
}
.grid-columns-340 {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}
.col-gap-22 {
    column-gap: 22px;
}
.row-gap-30 {
    row-gap: 30px;
}
.row-gap-60 {
    row-gap: 60px;
}
.word-break-word {
    word-wrap: break-word;
}

.icon-before {
    list-style: none;
    li::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 16px;
        position: relative;
        margin-right: 12px;
    }
}
.tick-before {
    li:before {
        content: "\f00c";
    }
}
.arrow-before {
    li:before {
        content: "↳";
        font-size: 20px;
        color: var(--primary);
    }
}
.counter-increment-1 {
    counter-reset: counter-increment-1;
    li::before {
        counter-increment: counter-increment-1;
        content: "1." counter(counter-increment-1) ".";
        margin-right: 8px;
    }
}
.counter-increment-2 {
    counter-reset: counter-increment-2;
    li::before {
        counter-increment: counter-increment-2;
        content: "2." counter(counter-increment-2) ".";
        margin-right: 8px;
    }
}
.border-dark-20{
    border-color: rgb(0 ,0, 0 ,0.2) !important;
}
.cursor-pointer{
    cursor: pointer;
}

@media (min-width: 1200px) {
    .py-xl-50 {
        padding-block: 50px !important;
    }
    .py-xl-100 {
        padding-block: 100px !important;
    }
    .py-xl-200 {
        padding-block: 200px;
    }
    .pt-xl-50 {
        padding-top: px2rem(50);
    }
    .pt-xl-100 {
        padding-top: px2rem(100) !important;
    }
    .pt-xl-180 {
        padding-top: px2rem(180);
    }
    .pb-xl-50 {
        padding-bottom: px2rem(50);
    }
    .pb-xl-100 {
        padding-bottom: px2rem(100);
    }
    .pt-xl-34 {
        padding-top: px2rem(34) !important;
    }
    .w-xl-unset {
        width: unset !important;
    }
    .px-xl-80 {
        padding-inline: px2rem(80) !important;
    }
    .pt-xl-80 {
        padding-top: px2rem(80) !important;
    }
    .w-xl-10 {
        width: 10% !important;
    }
    .w-xl-20 {
        width: 20% !important;
    }
    .w-xl-25 {
        width: 25% !important;
    }
    .w-xl-30 {
        width: 30% !important;
    }
    .w-xl-35 {
        width: 35% !important;
    }
    .w-xl-40 {
        width: 40% !important;
    }
    .w-xl-45 {
        width: 45% !important;
    }
    .w-xl-48 {
        width: 48% !important;
    }
    .w-xl-50 {
        width: 50% !important;
    }
    .w-xl-60 {
        width: 60% !important;
    }
    .w-xl-65 {
        width: 65% !important;
    }
    .w-xl-70 {
        width: 70% !important;
    }
    .w-xl-75 {
        width: 75% !important;
    }
    .w-xl-80 {
        width: 80% !important;
    }
    .w-xl-90 {
        width: 90% !important;
    }
    .w-xl-100 {
        width: 100% !important;
    }
    .gap-xl-64 {
        gap: px2rem(64);
    }
    .gap-xl-80 {
        gap: px2rem(80) !important;
    }
    .height-xl-220 {
        height: px2rem(220) !important;
    }
    .height-xl-45 {
        height: px2rem(45) !important;
    }
    .height-xl-50 {
        height: px2rem(50) !important;
    }
    .height-xl-60 {
        height: px2rem(60) !important;
    }
    .height-xl-80 {
        height: px2rem(80) !important;
    }
    .height-xl-260 {
        height: px2rem(260) !important;
    }
    .height-xl-300 {
        height: px2rem(300) !important;
    }
    .height-xl-400 {
        height: px2rem(400) !important;
    }
    .height-xl-450 {
        height: px2rem(450) !important;
    }
    .height-xl-500 {
        height: px2rem(500) !important;
    }
    .height-xl-600 {
        height: px2rem(600) !important;
    }

    .height-xl-700 {
        height: 700px;
    }
    .mt-xl-112 {
        margin-top: px2rem(112) !important;
    }
    .mt-xl-160 {
        margin-top: px2rem(160) !important;
    }
    .mt-xl-208 {
        margin-top: px2rem(208) !important;
    }
    .mt-xl-220 {
        margin-top: px2rem(220) !important;
    }
    .mt-xl-250 {
        margin-top: px2rem(250) !important;
    }
    .mb-xl-180 {
        margin-bottom: px2rem(180) !important;
    }
    .my-xl-160 {
        margin-top: px2rem(160) !important;
        margin-bottom: px2rem(160) !important;
    }
    .my-xl-250 {
        margin-top: px2rem(250) !important;
        margin-bottom: px2rem(250) !important;
    }
    .mt-xl-160 {
        margin-top: px2rem(160) !important;
    }
    .pb-xl-80 {
        padding-bottom: px2rem(80) !important;
    }
    .pb-xl-150 {
        padding-bottom: px2rem(150) !important;
    }
    .py-xl-80 {
        padding-block: px2rem(80) !important;
    }
    .width-xl-300 {
        width: px2rem(300) !important;
    }
    .max-width-xl-230 {
        max-width: 230px !important;
    }
    .max-width-xl-400 {
        max-width: 400px !important;
    }
    .max-width-xl-420 {
        max-width: 420px !important;
    }
    .max-width-xl-500 {
        max-width: 500px !important;
    }
    .max-width-xl-600 {
        max-width: 600px !important;
    }
    .max-width-xl-700 {
        max-width: 700px !important;
    }
    .border-top-xl-0 {
        border-top: unset !important;
    }
    .col-gap-xl-22 {
        column-gap: 22px !important;
    }
    .row-gap-xl-30 {
        row-gap: 30px !important;
    }
    .row-gap-xl-60 {
        row-gap: 60px !important;
    }
    .border-bottom-xl {
        border-bottom: 1px solid #dee2e6 !important;
    }
    .position-sticky-xl {
        position: sticky;
    }

    .flex-xl-0-0-50 {
        flex: 0 0 48%;
    }
    .flex-xl-0-0-100 {
        flex: 0 0 100%;
    }
    .top-xl-65 {
        top: 65px;
    }
    .fs-xl-18 {
        font-size: 18px !important;
    }
}
@media (min-width: 992px) {
    .py-lg-50 {
        padding-block: 50px !important;
    }
    .py-lg-100 {
        padding-block: 100px !important;
    }
    .py-lg-150 {
        padding-block: 150px !important;
    }
    .py-lg-200 {
        padding-block: 200px !important;
    }
    .pt-lg-34 {
        padding-top: px2rem(34) !important;
    }
    .pt-lg-50 {
        padding-top: px2rem(50);
    }
    .pt-lg-100 {
        padding-top: px2rem(100);
    }
    .pt-lg-150 {
        padding-top: px2rem(150);
    }
    .pb-lg-50 {
        padding-bottom: px2rem(50);
    }
    .pb-lg-100 {
        padding-bottom: px2rem(100);
    }
    .px-lg-80 {
        padding-inline: px2rem(80) !important;
    }
    .w-lg-unset {
        width: unset !important;
    }
    .w-lg-10 {
        width: 10% !important;
    }
    .w-lg-20 {
        width: 20% !important;
    }
    .w-lg-25 {
        width: 25% !important;
    }
    .w-lg-30 {
        width: 30% !important;
    }
    .w-lg-35 {
        width: 35% !important;
    }
    .w-lg-40 {
        width: 40% !important;
    }
    .w-lg-45 {
        width: 45% !important;
    }
    .w-lg-48 {
        width: 48% !important;
    }
    .w-lg-50 {
        width: 50% !important;
    }
    .w-lg-60 {
        width: 60% !important;
    }
    .w-lg-65 {
        width: 65% !important;
    }
    .w-lg-70 {
        width: 70% !important;
    }
    .w-lg-75 {
        width: 75% !important;
    }
    .w-lg-80 {
        width: 80% !important;
    }
    .w-lg-90 {
        width: 90% !important;
    }
    .w-lg-100 {
        width: 100% !important;
    }
    .height-lg-220 {
        height: px2rem(220) !important;
    }
    .height-lg-45 {
        height: px2rem(45) !important;
    }
    .height-lg-50 {
        height: px2rem(50) !important;
    }
    .height-lg-60 {
        height: px2rem(60) !important;
    }
    .height-lg-80 {
        height: px2rem(80) !important;
    }
    .height-lg-260 {
        height: px2rem(260) !important;
    }
    .height-lg-270 {
        height: px2rem(270) !important;
    }
    .height-lg-300 {
        height: px2rem(300) !important;
    }

    .height-lg-350 {
        height: px2rem(350) !important;
    }
    .height-lg-400 {
        height: px2rem(400) !important;
    }
    .height-lg-450 {
        height: px2rem(450) !important;
    }
    .height-lg-500 {
        height: px2rem(500) !important;
    }
    .height-lg-600 {
        height: px2rem(600) !important;
    }
    .height-lg-700 {
        height: 700px;
    }
    .gap-lg-80 {
        gap: px2rem(80) !important;
    }
    .gap-lg-150 {
        gap: px2rem(150) !important;
    }
    .ms-lg-112 {
        margin-inline-start: px2rem(112);
    }
    .vh-lg-100 {
        height: 100vh;
    }
    .mt-lg-112 {
        margin-top: px2rem(112) !important;
    }
    .mt-lg-160 {
        margin-top: px2rem(160) !important;
    }
    .mt-lg-208 {
        margin-top: px2rem(208) !important;
    }
    .pb-xl-80 {
        padding-bottom: px2rem(80) !important;
    }
    .py-lg-80 {
        padding-block: px2rem(80) !important;
    }
    .max-width-lg-230 {
        max-width: 230px !important;
    }
    .max-width-lg-400 {
        max-width: 400px !important;
    }
    .max-width-lg-420 {
        max-width: 420px !important;
    }
    .max-width-lg-500 {
        max-width: 500px !important;
    }
    .max-width-lg-600 {
        max-width: 600px !important;
    }
    .max-width-lg-700 {
        max-width: 700px !important;
    }
    .max-width-lg-800 {
        max-width: 800px !important;
    }
    .width-lg-300 {
        width: px2rem(300) !important;
    }
    .border-top-xl-0 {
        border-top: unset !important;
    }
    .border-bottom-lg {
        border-bottom: 1px solid #dee2e6 !important;
    }
    .col-gap-lg-22 {
        column-gap: 22px !important;
    }
    .row-gap-lg-30 {
        row-gap: 30px !important;
    }
    .row-gap-lg-60 {
        row-gap: 60px !important;
    }
    .fs-lg-18 {
        font-size: 18px !important;
    }
    .start-lg-2 {
        inset-inline-start: 2px;
    }
}
@media (min-width: 768px) {
    .w-md-unset {
        width: unset !important;
    }
}

@media (max-width: 992px) {
    .position-absolute-sm {
        position: absolute;
    }
    .top-sm-n20 {
        top: -20px;
    }
    .left-sm-n10 {
        left: -10px;
    }
}
