  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="d-flex justify-content-center pb-5 pt-2">
         <a  class="logo me-auto me-lg-0"><img src="assets/img/logo.svg" alt="" class="img-fluid"></a>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-6 footer-links">
                <h4>PRODUCTS</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a >EDAA</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a >IaaS</a></li>
                </ul>
              </div>

          <div class="col-lg-3 col-md-4 col-6 footer-links">
            <h4 class="text-uppercase">Solutions</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a >Saftey</a></li>
              <li><i class="bx bx-chevron-right"></i> <a >Well being</a></li>
              <li><i class="bx bx-chevron-right"></i> <a >Digital UX</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-4 col-6 footer-links">
            <h4 class="text-uppercase">Research</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a >Publications</a></li>
              <li><i class="bx bx-chevron-right"></i> <a >Blog</a></li>
            </ul>
          </div>

        
          <div class="col-lg-3 col-md-4 col-6 footer-links">
            <h4 class="text-uppercase">Company</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a >About</a></li>
              <li><i class="bx bx-chevron-right"></i> <a >Careers</a></li>
              <li><i class="bx bx-chevron-right"></i> <a >Data Privacy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a >FAQs</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column footer-bottom">
        <div class="copyright text-start d-sm-flex flex-sm-column order-sm-0 order-1 my-sm-0 my-2">
            <span>&copy; 2023 - Virtue</span>
            <span>All Rights Reserved</span>
          </div>
          <div class="my-sm-0 my-2">
            <a >
            <i class="fa-brands fa-linkedin-in text-primary me-4 fs-16"></i>
            </a>
            <a >
                <i class="fa-brands fa-twitter text-primary fs-16"></i>
            </a>
          </div>
          <div class="d-sm-flex flex-sm-column my-sm-0 my-2">
            <span><a  class="fs-14">Privacy Policy</a></span>
            <span><a  class="fs-14">Terms of Use</a></span>
          </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->