<div class="hero">
    <div class="hero-content justify-content-start bg-img-services">
        <div class="container">
            <div
                class="d-flex gap-xl-80 gap-3 w-100 align-items-center justify-content-between mt-112 mt-xl-208 flex-column flex-xl-row pb-lg-5 pb-4 pb-xl-80">
                <div class="w-xl-50 w-100 text-start">
                    <p class="text-uppercase text-black-50 fw-500 mb-0">Product overview</p>
                    <h1 class="text-start text-balance my-lg-4 mt-3">
                        Speed is the new scale
                    </h1>
                    <p class="max-width-xl-400 text-black-70">Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown.
                    </p>
                </div>
                <div class="w-xl-50 w-100 ">
                    <img src="assets/img/deepmind-rxducl.png"
                        class="height-lg-500  height-260 object-fit-cover">
                </div>
            </div>

            <div class="py-lg-50">
                <div class="d-lg-flex gap-2">
                    <div class="flex-1 mb-5 mb-lg-0">
                        <div
                            class="border border-dark-20 align-items-center d-flex justify-content-center rounded-pill height-28 width-46">
                            <span class="fs-15">01</span>
                        </div>
                        <h4 class="my-lg-4 mt-3 w-lg-75 text-balance fw-500">When unknown printer took</h4>
                        <p class="text-black-70">Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s, when an unknown.</p>
                    </div>
                    <div class="flex-1 mb-5 mb-lg-0">
                        <div
                            class="border border-dark-20 align-items-center d-flex justify-content-center rounded-pill height-28 width-46">
                            <span class="fs-15">02</span>
                        </div>
                        <h4 class="my-lg-4 mt-3 w-lg-75 text-balance fw-500">When unknown printer took</h4>
                        <p class="text-black-70">Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s, when an unknown.</p>
                    </div>
                    <div class="flex-1 mb-5 mb-lg-0">
                        <div
                            class="border border-dark-20 align-items-center d-flex justify-content-center rounded-pill height-28 width-46">
                            <span class="fs-15">03</span>
                        </div>
                        <h4 class="my-lg-4 mt-3 w-lg-75 text-balance fw-500">When unknown printer took</h4>
                        <p class="text-black-70">Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s, when an unknown.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<section class="py-xl-100 py-50">
    <div class="container">
        <div class="d-flex gap-xl-80  w-100 align-items-xl-end justify-content-between flex-column flex-xl-row">
            <div class="w-xl-50 w-100 text-start pb-xl-4">
                <h6
                    class="text-balance max-width-xl-420 text-primary text-uppercase fw-500 border-dark-20 border-top pt-34">
                    Lorem Ipsum been industry's standard dummy text ever since the 1500s. </h6>
            </div>
            <div class="w-xl-50 w-100 ">
                <h3 class=" my-lg-4 mt-3"> Host, maintain, and expand your research and clinical data capabilities with
                    MetaCell Cloud
                    Hosting.</h3>
                <p class="max-width-xl-400 mb-0 text-black-70">Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="">
    <div class="container">
        <div class="w-100 ">
            <img src="assets/img/brain.png"
                alt="" class="height-lg-600 height-260 object-fit-cover w-100">
        </div>
    </div>
</section>

<section class="bg-white py-xl-100 py-50">
    <div class="container">
        <div class="m-auto max-width-700">
            <h3 class=" mb-lg-4 text-balance"> Host, maintain, and expand your research and clinical data
                capabilities with
                MetaCell Cloud
                Hosting.</h3>
            <p class="mb-0 text-balance text-black-70">Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
    </div>
</section>

<section class="py-xl-50">
    <div class="container">
        <div class="d-flex gap-xl-80 gap-3 w-100 align-items-xl-center justify-content-between flex-column flex-xl-row">
            <div class="w-xl-50 w-100 text-start pb-xl-4">
                <div class="accordion border-top-xl-0 border-top border-dark mt-xl-5" id="accordionExample">
                    <div class="accordion-item position-relative">
                        <h4 class="accordion-header no-animation" id="headingOne">
                            <button class="accordion-button arrow py-5 px-0" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <div
                                    class="border align-items-center d-flex justify-content-center rounded-pill height-28 width-46 me-3">
                                    <span class="fs-15">01</span>
                                </div>
                                When unknown
                            </button>
                        </h4>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body px-0 pb-5 pt-0">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item position-relative">
                        <h4 class="accordion-header no-animation" id="headingOne">
                            <button class="accordion-button arrow collapsed py-5 px-0" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true"
                                aria-controls="collapseTwo">
                                <div
                                    class="border align-items-center d-flex justify-content-center rounded-pill height-28 width-46 me-3">
                                    <span class="fs-15">02</span>
                                </div>
                                Been industry's standard
                            </button>
                        </h4>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body px-0 pb-5 pt-0">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item position-relative">
                        <h4 class="accordion-header no-animation" id="headingOne">
                            <button class="accordion-button arrow collapsed py-5 px-0" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true"
                                aria-controls="collapseThree">
                                <div
                                    class="border align-items-center d-flex justify-content-center rounded-pill height-28 width-46 me-3">
                                    <span class="fs-15">03</span>
                                </div>
                                Digital UX
                            </button>
                        </h4>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body px-0 pb-5 pt-0">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-xl-50 w-100 ">
                <img src="assets/img/cluster-green.png"
                    class="height-xl-600 height-400 object-fit-contain w-100">
            </div>
        </div>
    </div>
</section>


<section class="bg-white py-xl-100 py-50">
    <div class="container">
        <div class="m-auto max-width-700">
            <h3 class="mb-lg-4 text-balance"> Host, maintain, and expand your research and clinical data
                capabilities with
                MetaCell Cloud
                Hosting.</h3>
            <p class="mb-0 text-balance text-black-70">Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
    </div>
</section>

<section class="position-relative d-grid align-items-center py-xl-50">
    <div class="grid-area-1-1">
        <img src="assets/img/cta.png"
            alt="" class="w-100 object-fit-cover height-lg-600 height-400">
    </div>
    <div class="container grid-area-1-1">
        <div class="grid-area-1-1 mb-5 text-black">
            <h1 class="">Get Started</h1>
            <p class="my-lg-4 my-3 text-black-70">Lorem Ipsum has been the industry's standard dummy <br> text ever since the 1500s,
                when an unknown.</p>
            <button class="btn rounded-0 get-started-btn d-inline-flex align-items-center gap-2"><span>Get Started</span> <img src="assets/img/redirect.svg"> </button>
        </div>
    </div>
</section>

<section class="py-xl-100 py-50">
    <div class="container">
        <h2 class="mb-5 fw-500">Publications</h2>
        <div class="d-flex justify-content-between gap-xl-80 gap-5 flex-xl-row flex-column">
          <div class="d-flex flex-column w-xl-50">
            <div class="img-hover-button w-100 ">
            <img src="assets/img/girl-sitting-on-chair.png" class="height-300 object-fit-cover w-100">
            <div class="overlay"></div>
            <a >
                <div class="button">
                <img src="assets/img/arrow-down-rotate.svg">
                </div>
            </a>
            </div>
            <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
            <p class="my-2 max-width-400 fw-500">Attention Metrics Show Potential at Top and Bottom of
            Marketing Funnel</p><span class="fs-16 text-black-50">November 16, 2022</span>
        </div>
        <div class="d-flex flex-column w-xl-50 gap-5">
            <div class="d-flex flex-column flex-xl-row gap-4 align-items-center">
            <div class="img-hover-button w-100  ">
                <img src="assets/img/car.png" class="height-300 height-xl-220 object-fit-cover w-100">
                <div class="overlay"></div>
                <a >
                <div class="button">
                    <img src="assets/img/arrow-down-rotate.svg">
                </div>
                </a>
            </div>
            <div class="w-100">
                <span class="fs-16 text-uppercase text-black-40 fw-500">White papers</span>
                <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom
                of Marketing Funnel</p><span class="fs-16 text-black-50">November 16,
                2022</span>
            </div>
            </div>
            <div class="d-flex flex-column flex-xl-row gap-4 align-items-center">
            <div class="img-hover-button w-100 ">
                <img src="assets/img/group-discussion.png" class="height-300 height-xl-220 object-fit-cover w-100">
                <div class="overlay"></div>
                <a >
                <div class="button">
                    <img src="assets/img/arrow-down-rotate.svg">
                </div>
                </a>
            </div>
            <div class="w-100">
                <span class="fs-16 text-uppercase text-black-40 fw-500">Updates (blog)</span>
                <p class="my-3 fw-500">Attention Metrics Show Potential at Top and Bottom
                of Marketing Funnel</p><span class="fs-16 text-black-50">November 16,
                2022</span>
            </div>
            </div>
        </div>
        </div>
      </div>
  </section>