<div class="hero vh-lg-100 vh-70">
  <div class="hero-content text-center  px-4 mt-xl-160 mt-112 justify-content-start">
    <div class="max-width-700">
      <h1 class="text-primary ">Automate real-time personalisation in your data-driven solutions</h1>
    </div>

    <div class="mt-4 cursor-pointer" (click)="scroll(target)">
    <img  src="assets/img/scroll-to-next.png" class="height-50"/>
    </div>

  </div>
  <img src="assets/img/index-1.png" alt="">
</div>

<section class=" py-xl-100 py-50 bg-img-index-2" #target>
  <div class="container">
    <div class="d-flex justify-content-start w-lg-40 border-bottom border-secondary pb-4">
      <div>
        <h6 class="text-secondary text-uppercase mb-3">About</h6>
        <h3>
          Translate human emotions into code — build your next-gen Emotional AI-powered solution
        </h3>
      </div>
    </div>

    <div class="d-flex justify-content-end w-lg-48 ms-auto mt-lg-0 mt-3">
      <h4 class="text-black-70">
        We enable human-centric platforms with our Emotional Data Analysis and Automation (EDAA™) to deliver safe,
        accurate action personalisation in real-time.
      </h4>
    </div>
  </div>
</section>

<section class="bg-gray-30 py-lg-150 py-xl-100 py-50">
  <div class="container">
    <div>
      <h2 class="fw-500">VirtuE’s EDAA™-powered infrastructure</h2>
      <div class="d-lg-flex gap-2 mt-5 pt-lg-5 pt-0">
        <div class="flex-1 mb-5 mb-lg-0">
          <div
            class="icon bg-primary-light align-items-center bg-green d-flex icon justify-content-center rounded-circle width-80 height-80">
            <img src="assets/img/security-user.svg" />
          </div>
          <h4 class="my-lg-4 mt-3 w-lg-75 fw-500 text-balance">When unknown printer took</h4>
          <p class="text-black-60 line">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
            unknown.</p>
        </div>
        <div class="flex-1 mb-5 mb-lg-0">
          <div
            class="icon bg-secondary-light align-items-center bg-green d-flex icon justify-content-center rounded-circle width-80 height-80">
            <img src="assets/img/cpu-setting.svg" />
          </div>
          <h4 class="my-lg-4 mt-3 w-lg-75 fw-500 text-balance">When unknown printer took</h4>
          <p class="text-black-60">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
            unknown.</p>
        </div>
        <div class="flex-1">
          <div
            class="icon bg-primary-light align-items-center bg-green d-flex icon justify-content-center rounded-circle width-80 height-80">
            <img src="assets/img/award.svg" />
          </div>
          <h4 class="my-lg-4 mt-3 w-lg-75 fw-500 text-balance">When unknown printer took</h4>
          <p class="text-black-60">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
            unknown.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white py-xl-100 py-50 bg-img-index-3 mt-80 mb-5">
  <div class="container ps-5">
    <p class="text-uppercase text-black-40">solutions</p>
    <h2 class="max-width-650 fw-500">We are a strategic partner to our clients.</h2>
    <div class="accordion mt-5 ms-lg-112" id="accordionExample">
      <div class="accordion-item position-relative bg-transparent">
        <h3 class="accordion-header no-animation" id="headingOne">
          <button class="accordion-button py-5 px-md-5 px-2 bg-transparent" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <span class="fs-20 position-absolute top-15 start-10 z-index-9 mb-md-0 mb-2">01</span>
            Safety and Security
          </button>
        </h3>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body px-lg-5 px-0 pb-5 pt-0">
            <p class="text-black-60">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.
            </p>
            <button class="btn btn-primary-link text-uppercase fs-14 fw-500 p-0">
              learn more <i class="fa fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="accordion-item position-relative bg-transparent">
        <h3 class="accordion-header no-animation" id="headingOne">
          <button class="accordion-button collapsed py-5 px-md-5 px-2 bg-transparent" type="button"
            data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span class="fs-20 position-absolute top-15 start-10 z-index-9 mb-md-0 mb-2">02</span>
            Human well being
          </button>
        </h3>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body px-lg-5 px-0 pb-5 pt-0">
            <p class="text-black-60">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.
            </p>
            <button class="btn btn-primary-link text-uppercase fs-14 fw-500 p-0">
              learn more <i class="fa fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="accordion-item position-relative bg-transparent">
        <h3 class="accordion-header  no-animation" id="headingOne">
          <button class="accordion-button collapsed py-5 px-md-5 px-2 bg-transparent" type="button"
            data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true"
            aria-controls="collapseThree">
            <span class="fs-20 position-absolute top-15 start-10 z-index-9 mb-md-0 mb-2">03</span>
            Digital UX
          </button>
        </h3>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body px-lg-5 px-0 pb-5 pt-0">
            <p class="text-black-60">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.
            </p>
            <button class="btn btn-primary-link text-uppercase fs-14 fw-500 p-0">
              learn more <i class="fa fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white py-xl-100 py-50">
  <div class="container">
    <div class="m-auto max-width-700 text-center">
      <p class="text-uppercase text-blue">Products</p>
      <h2 class="fw-500">When an unknown printer took a galley of type.</h2>
    </div>
  </div>
</section>

<!-- <section class="text-over-media d-flex align-items-end justify-content-start pb-5">
  <div class="container">
    <div class="text-white">
      <h3>Build your Solution</h3>
      <p>Lorem Ipsum has been the industry's standard dummy <br> text ever since the 1500s, when an unknown.</p>
      <a  class="btn btn-outline text-white">Learn more</a>
    </div>
  </div>
</section> -->

<section class="position-relative d-grid align-items-lg-end align-items-center">
  <div class="grid-area-1-1">
    <img class="w-100 object-fit-cover height-lg-600 height-400" src="assets/img/index-4.png" alt="">
  </div>
  <div class="container grid-area-1-1">
    <div class=" grid-area-1-1 mb-5 mt-5 mt-lg-0 pb-lg-4 text-white">
      <h3 class="mb-lg-4 mb-3">Build your Solution</h3>
      <p class="max-width-700 text-balance mb-4">Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown.</p>
      <a 
        class="btn btn-outline-white text-uppercase px-4 py-3 d-inline-flex gap-2 align-items-center"><span>Learn
          more</span> <img src="assets/img/redirect.svg"></a>
    </div>
  </div>
</section>

<section class="py-xl-100 py-50">
  <div class="container">
    <h2 class="mb-5 fw-500">Publications</h2>
    <div class="d-flex justify-content-between gap-xl-80 gap-5 flex-xl-row flex-column">
      <div class="d-flex flex-column w-xl-50">
        <div class="img-hover-button w-100 ">
          <img src="assets/img/girl-sitting-on-chair.png" class="height-300 object-fit-cover w-100">
          <div class="overlay"></div>
          <a >
            <div class="button">
              <img src="assets/img/arrow-down-rotate.svg">
            </div>
          </a>
        </div>
        <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
        <p class="my-2 max-width-400 fw-500">Attention Metrics Show Potential at Top and Bottom of
          Marketing Funnel</p><span class="fs-16 text-black-50">November 16, 2022</span>
      </div>
      <div class="d-flex flex-column w-xl-50 gap-5">
        <div class="d-flex flex-column flex-xl-row gap-4 align-items-center">
          <div class="img-hover-button w-100  ">
            <img src="assets/img/car.png" class="height-300 height-xl-220 object-fit-cover w-100">
            <div class="overlay"></div>
            <a >
              <div class="button">
                <img src="assets/img/arrow-down-rotate.svg">
              </div>
            </a>
          </div>
          <div class="w-100">
            <span class="fs-16 text-uppercase text-black-40 fw-500">White papers</span>
            <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom
              of Marketing Funnel</p><span class="fs-16 text-black-50">November 16,
              2022</span>
          </div>
        </div>
        <div class="d-flex flex-column flex-xl-row gap-4 align-items-center">
          <div class="img-hover-button w-100 ">
            <img src="assets/img/group-discussion.png" class="height-300 height-xl-220 object-fit-cover w-100">
            <div class="overlay"></div>
            <a >
              <div class="button">
                <img src="assets/img/arrow-down-rotate.svg">
              </div>
            </a>
          </div>
          <div class="w-100">
            <span class="fs-16 text-uppercase text-black-40 fw-500">Updates (blog)</span>
            <p class="my-3 fw-500">Attention Metrics Show Potential at Top and Bottom
              of Marketing Funnel</p><span class="fs-16 text-black-50">November 16,
              2022</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>