<section class="hero">
    <div class="hero-content justify-content-start bg-img-solution-landing">
        <div class="container">
            <div class="mt-160 pb mt-xl-220 pb-xl-80 max-width-800 mx-auto text-center">
                <h1>Solutions</h1>
                <p class="fs-22 mt-4 text-black-70">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            </div>

            <ul class="nav nav-pills active-border-bottom mb-3 d-lg-flex justify-content-center gap-xl-150 gap-lg-5 gap-4 flex-sm-row flex-column align-items-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pill-first-tab" type="button" role="tab" aria-controls="pill-first"
                        aria-selected="true" [class.active]="viewType == 'pill-first'"
                        (click)="tabToggle('pill-first')"><span>Safety and Security</span></button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pill-second-tab" type="button" role="tab"
                        aria-controls="pill-second" aria-selected="false" [class.active]="viewType == 'pill-second'"
                        (click)="tabToggle('pill-second')"><span>Human well being</span></button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pill-third-tab" [class.active]="viewType == 'pill-third'"
                        (click)="tabToggle('pill-third')" type="button" role="tab" aria-controls="pill-third"
                        aria-selected="false"><span>Digital UX</span></button>
                </li>
            </ul>
            <div class="tab-content py-4 py-lg-5" id="pills-tabContent">
                <div class="tab-pane fade " [ngClass]="viewType == 'pill-first' ? 'show active': ''" id="pill-first"
                role="tabpanel" aria-labelledby="pill-first-tab">
                    <img class="height-xl-500 height-lg-400 height-260 object-fit-cover img-fluid" src="../assets/img/solution-1.jpg">
                </div>
                <div class="tab-pane fade " [ngClass]="viewType == 'pill-second' ? 'show active': ''" id="pill-second"
                role="tabpanel" aria-labelledby="pill-second-tab">
                    2
                </div>
                <div class="tab-pane fade " [ngClass]="viewType == 'pill-third' ? 'show active': ''" id="pill-third"
                role="tabpanel" aria-labelledby="pill-third-tab">
                    3
                </div>
            </div>
        </div>
    </div>
</section>


<section class="my-5">
    <div class="container">
        <div class="solution-bg-1">
            <div class="align-items-center d-flex flex-column flex-lg-row gap-3 justify-content-between pt-180 px-lg-5 px-4">
                <h3 class="text-center">When unknown printer took</h3>
                <div class="d-flex align-items-center gap-2">
                    <a ><div class="icon bg-white align-items-center bg-green d-flex icon justify-content-center rounded-circle width-46 height-46"><i class="fa-solid fa-arrow-up fs-15"></i></div></a>
                    <a ><div class="icon bg-white align-items-center bg-green d-flex icon justify-content-center rounded-circle width-46 height-46"><i class="fa-solid fa-arrow-down fs-15"></i></div></a>
                </div>
            </div>
            <div class="d-lg-flex gap-2 gap-lg-5 mt-4 pt-lg-5 pb-5 pt-0 px-lg-5 px-4">
                <div class="flex-1 mb-5 mb-lg-0">
                    <div class="d-flex gap-3 border-top pt-4">
                        <div class="border border-dark-20 align-items-center d-flex justify-content-center rounded-pill height-28 width-46 min-width-46 mt-1">
                            <span class="fs-15">01</span>
                        </div>
                        <div>
                            <h6 class="mt-0 fw-500">Lorem Ipsum been the industry's standard.</h6>
                            <p class="fs-16">Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                        </div>
                    </div>
                </div>
                <div class="flex-1 mb-5 mb-lg-0">
                    <div class="d-flex gap-3 border-top pt-4">
                        <div class="border border-dark-20 align-items-center d-flex justify-content-center rounded-pill height-28 width-46 min-width-46 mt-1">
                            <span class="fs-15">02</span>
                        </div>
                        <div>
                            <h6 class="mt-0 fw-500">Lorem Ipsum been the industry's standard.</h6>
                            <p class="fs-16">Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                        </div>
                    </div>
                </div>
                <div class="flex-1 mb-5 mb-lg-0">
                    <div class="d-flex gap-3 border-top pt-4">
                        <div class="border border-dark-20 align-items-center d-flex justify-content-center rounded-pill height-28 width-46 min-width-46 mt-1">
                            <span class="fs-15">03</span>
                        </div>
                        <div>
                            <h6 class="mt-0 fw-500">Lorem Ipsum been the industry's standard.</h6>
                            <p class="fs-16">Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="d-flex w-100 justify-content-between align-items-center flex-column flex-xl-row py-xl-80 py-5 gap-xl-80">
            <div class="w-xl-60">
                <div class="text-start py-xl-5 py-3 text-start py-xl-5 py-3 ps-lg-5">
                    <h3 class="max-width-lg-400 text-balance">When unknown printer took</h3>
                    <span class="max-width-lg-400 fs-20 mb-0 d-xl-inline-block d-block pb-12 align-middle text-black-70 mt-3">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</span>
                </div>
            </div>
            <div class="w-xl-40 mt-xl-0 mt-4 ">
                <img class="height-xl-500 height-lg-400 height-260 object-fit-cover img-fluid" src="https://images.unsplash.com/photo-1665690399857-9de8bbbeb108?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80">
            </div>
        </div>

        <div class="pt-5 pb-5">
            <span class="fs-20 text-uppercase mb-0 d-xl-inline-block d-block pb-4 align-middle fw-500 text-black-40">feature</span>
            <h3 class="max-width-700 text-balance">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</h3>
        </div>

        <div class="d-flex flex-wrap gap-2 gap-lg-5 mt-5 pb-5">
            <div class="flex-xl-0-0-50 flex-0-0-100">
                <div class="icon bg-primary-light align-items-center bg-green d-flex icon justify-content-center rounded-circle width-80 height-80">
                    <img src="assets/img/3d-cube-scan.svg" />
                </div>
                <h4 class="my-lg-4 mt-3 text-balance fw-500">Explore & Insights</h4>
                <p class="text-black-70">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            </div>
            <div class="flex-xl-0-0-50 flex-0-0-100">
                <div class="icon bg-secondary-light align-items-center bg-green d-flex icon justify-content-center rounded-circle width-80 height-80">
                    <img src="assets/img/pen-tool-2-pink.svg" />
                </div>
                <h4 class="my-lg-4 mt-3 text-balance fw-500">Build & implementation</h4>
                <p class="text-black-70">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            </div>
            <div class="flex-xl-0-0-50 flex-0-0-100">
                <div class="icon bg-yellow-light align-items-center bg-green d-flex icon justify-content-center rounded-circle width-80 height-80">
                    <img src="assets/img/setting-3.svg" />
                </div>
                <h4 class="my-lg-4 mt-3 text-balance fw-500">Design & creative approach</h4>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            </div>
            <div class="flex-xl-0-0-50 flex-0-0-100">
                <div class="icon bg-primary-light align-items-center bg-green d-flex icon justify-content-center rounded-circle width-80 height-80">
                    <img src="assets/img/monitor-mobbile.svg" />
                </div>
                <h4 class="my-lg-4 mt-3 text-balance fw-500">Design & creative approach</h4>
                <p class="text-black-70">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
            </div>
        </div>

        <div class="py-5 text-center">
            <h2 class="text-lg-start text-center max-width-lg-800 mx-auto position-relative">
                <span class="fs-20 text-uppercase mb-0 d-xl-inline-block d-block pb-12 align-middle text-black-40 fw-500">dummy text</span>
                When an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </h2>
        </div>

        <div class="d-flex w-100 justify-content-between align-items-center flex-column flex-xl-row pt-xl-80 py-5 gap-xl-80">
           <div class="w-xl-50 mt-xl-0 mt-4 ">
                <img class="height-xl-500 height-lg-400 height-260 object-fit-cover img-fluid" src="assets/img/cube.png">
            </div>
            <div class="w-xl-50">
                <div class="text-start py-xl-5 py-3">
                    <h3 class="max-width-lg-400 text-balance mb-3 mt-lg-0 mt-4">When unknown printer took</h3>
                    <p class="fs-20 max-width-lg-500 text-balance mb-4 text-black-70">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
                    <p class="fs-22 max-width-lg-500 text-balance mt-4 text-black-70">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="position-relative d-grid align-items-center py-xl-50">
    <div class="grid-area-1-1">
        <img src="assets/img/cta.png"
            alt="" class="w-100 object-fit-cover height-lg-600 height-400">
    </div>
    <div class="container grid-area-1-1">
        <div class="grid-area-1-1 mb-5 text-black">
            <h1 class="">Get Started</h1>
            <p class="my-lg-4 my-3 text-black-70">Lorem Ipsum has been the industry's standard dummy <br> text ever since the 1500s,
                when an unknown.</p>
            <button  class="btn rounded-0 get-started-btn d-inline-flex align-items-center gap-2"><span>Get Started</span> <img src="assets/img/redirect.svg"> </button>
        </div>
    </div>
</section>


<section class="py-xl-100 py-50">
    <div class="container">
        <h2 class="mb-5 fw-500">Publications</h2>
        <div class="d-flex justify-content-between gap-xl-80 gap-5 flex-xl-row flex-column">
            <div class="d-flex flex-column w-xl-50">
                <div class="img-hover-button w-100 ">
                <img src="assets/img/girl-sitting-on-chair.png" class="height-300 object-fit-cover w-100">
                <div class="overlay"></div>
                <a >
                    <div class="button">
                    <img src="assets/img/arrow-down-rotate.svg">
                    </div>
                </a>
                </div>
                <span class="fs-16 mt-3 text-uppercase text-black-40 fw-500">Research</span>
                <p class="my-2 max-width-400 fw-500">Attention Metrics Show Potential at Top and Bottom of
                Marketing Funnel</p><span class="fs-16 text-black-50">November 16, 2022</span>
            </div>
            <div class="d-flex flex-column w-xl-50 gap-5">
                <div class="d-flex flex-column flex-xl-row gap-4 align-items-center">
                <div class="img-hover-button w-100  ">
                    <img src="assets/img/car.png" class="height-300 height-xl-220 object-fit-cover w-100">
                    <div class="overlay"></div>
                    <a >
                    <div class="button">
                        <img src="assets/img/arrow-down-rotate.svg">
                    </div>
                    </a>
                </div>
                <div class="w-100">
                    <span class="fs-16 text-uppercase text-black-40 fw-500">White papers</span>
                    <p class="my-2 fw-500">Attention Metrics Show Potential at Top and Bottom
                    of Marketing Funnel</p><span class="fs-16 text-black-50">November 16,
                    2022</span>
                </div>
                </div>
                <div class="d-flex flex-column flex-xl-row gap-4 align-items-center">
                <div class="img-hover-button w-100 ">
                    <img src="assets/img/group-discussion.png" class="height-300 height-xl-220 object-fit-cover w-100">
                    <div class="overlay"></div>
                    <a >
                    <div class="button">
                        <img src="assets/img/arrow-down-rotate.svg">
                    </div>
                    </a>
                </div>
                <div class="w-100">
                    <span class="fs-16 text-uppercase text-black-40 fw-500">Updates (blog)</span>
                    <p class="my-3 fw-500">Attention Metrics Show Potential at Top and Bottom
                    of Marketing Funnel</p><span class="fs-16 text-black-50">November 16,
                    2022</span>
                </div>
                </div>
            </div>
        </div>
      </div>
  </section>