@charset "UTF-8";

// Webfonts
// (See mixin definition in _helpers.scss for details.)
// @include font-face("AlegreyaSansW", "AlegreyaSans-Regular", $font-weight-regular, normal);
// @include font-face("AlegreyaSansW", "AlegreyaSans-Italic", $font-weight-regular, italic);
// @include font-face("AlegreyaSansW", "AlegreyaSans-Medium", $font-weight-medium, normal);
// @include font-face("AlegreyaSansW", "AlegreyaSans-MediumItalic", $font-weight-medium, italic);
// @include font-face("AlegreyaSansW", "AlegreyaSans-SemiBold", $font-weight-semibold, normal);
// @include font-face("AlegreyaSansW", "AlegreyaSans-SemiBoldItalic", $font-weight-semibold, italic);
// @include font-face("AlegreyaSansW", "AlegreyaSans-Bold", $font-weight-bold, normal);
// @include font-face("AlegreyaSansW", "AlegreyaSans-BoldItalic", $font-weight-bold, italic);
// @include font-face("AlegreyaSansW", "AlegreyaSans-ExtraBold", $font-weight-extrabold, normal);
// @include font-face("AlegreyaSansW", "AlegreyaSans-ExtraBoldItalic", $font-weight-extrabold, italic);
// @include font-face("AlegreyaSansW", "AlegreyaSans-Black", $font-weight-black, normal);
// @include font-face("AlegreyaSansW", "AlegreyaSans-BlackItalic", $font-weight-black, italic);

// @include font-face("AlegreyaW", "Alegreya-Regular", $font-weight-regular, normal);
// @include font-face("AlegreyaW", "Alegreya-Italic", $font-weight-regular, italic);
// @include font-face("AlegreyaW", "Alegreya-Medium", $font-weight-medium, normal);
// @include font-face("AlegreyaW", "Alegreya-MediumItalic", $font-weight-medium, italic);
// @include font-face("AlegreyaW", "Alegreya-SemiBold", $font-weight-semibold, normal);
// @include font-face("AlegreyaW", "Alegreya-SemiBoldItalic", $font-weight-semibold, italic);
// @include font-face("AlegreyaW", "Alegreya-Bold", $font-weight-bold, normal);
// @include font-face("AlegreyaW", "Alegreya-BoldItalic", $font-weight-bold, italic);
// @include font-face("AlegreyaW", "Alegreya-ExtraBold", $font-weight-extrabold, normal);
// @include font-face("AlegreyaW", "Alegreya-ExtraBoldItalic", $font-weight-extrabold, italic);
// @include font-face("AlegreyaW", "Alegreya-Black", $font-weight-black, normal);
// @include font-face("AlegreyaW", "Alegreya-BlackItalic", $font-weight-black, italic);

// Atyp Display
// @include font-face("Atyp Display", "AtypDisplay-Regular", $font-weight-regular, normal);
// @include font-face("AmpersandW", "Ampersand-Italic", $font-weight-regular, italic, true);
// @include font-face("AmpersandW", "Ampersand-Medium", $font-weight-medium, normal, true);
// @include font-face("AmpersandW", "Ampersand-MediumItalic", $font-weight-medium, italic, true);
// @include font-face("AmpersandW", "Ampersand-SemiBold", $font-weight-semibold, normal, true);
// @include font-face("AmpersandW", "Ampersand-SemiBoldItalic", $font-weight-semibold, italic, true);
// @include font-face("AmpersandW", "Ampersand-Bold", $font-weight-bold, normal, true);
// @include font-face("AmpersandW", "Ampersand-BoldItalic", $font-weight-bold, italic, true);
// @include font-face("AmpersandW", "Ampersand-ExtraBold", $font-weight-extrabold, normal, true);
// @include font-face("AmpersandW", "Ampersand-ExtraBoldItalic", $font-weight-extrabold, italic, true);
// @include font-face("AmpersandW", "Ampersand-Black", $font-weight-black, normal, true);
// @include font-face("AmpersandW", "Ampersand-BlackItalic", $font-weight-black, italic, true);

*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    font-size: 100%;
    height: 100%;
    scroll-behavior: smooth;

	::-webkit-scrollbar-track {
		background-color: #ced4da;
	}

	::-webkit-scrollbar {
		width: px2rem(10);
		background-color: #ced4da;
	}

	::-webkit-scrollbar-thumb {
		background-color: $primary;
		border-radius: px2rem(5);
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    line-height: 1.2;
    margin-top: 0;
    font-weight: $font-weight-regular;
}
h1 {
    font-size: px2rem(64) !important;
}
h2 {
    font-size: px2rem(48);
}
h3 {
    font-size: px2rem(36);
}
h4 {
    font-size: px2rem(30);
}
h5 {
    font-size: px2rem(24);
}
h6 {
    font-size: px2rem(20);
}
a {
    color: $body-font-color;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: $secondary;
    text-decoration: none;
}

a:not([href]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):hover {
    color: inherit;
    text-decoration: none;
}
button {
    font-size: inherit;
}
body {
    margin: 0;
    font-family: "Atyp Display";
    color: $body-font-color; // Change this according to the design
    // padding:  0 px2rem(15) px2rem(15);
    font-size: px2rem(18);
    line-height: 1.5;
    overflow-x: hidden;
}
.body-overflow {
    overflow: hidden;
}
input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}
@mixin flex {
    display: flex;
    flex-wrap: wrap;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
ul,
p {
    margin-top: 0;
}
// #my-scrollbar {
//     width: 100%;
//     height: 2500px;
//     overflow: auto;
//   }
// .scroll-content{
//     transform: none !important;
// }
// #smoothScrollbar{
//     min-height: 100vh;
//     height: 1000px;
// }
.btn-primary {
    display: inline-block;
    background: $secondary;
    border-radius: px2rem(25);
    color: #fff;
    padding: px2rem(10.5) px2rem(35);
    border: 1px solid $secondary;
    cursor: pointer;
    position: relative;
    // &:hover {
    //     color: #fff;
    //     background: $brand-sky-blue;
    //     border-color: $brand-sky-blue;
    // }
    @media (max-width: $medium-devices) {
        font-size: px2rem(12);
    }
}

.row > * {
    @media (max-width: $mobile-devices) {
        padding: 0 24px;
    }
}

.container {
    @media (max-width: $mobile-devices) {
        padding: 0 24px;
    }
}

p {
    font-size: px2rem(18);
    font-weight: $font-weight-regular;
    @media (max-width: $medium-devices) {
        font-size: px2rem(16);
    }
    @media (max-width: $mobile-devices) {
        font-size: px2rem(16);
    }
}
@media (max-width: 991px) {
    h1 {
        font-size: px2rem(36) !important;
    }
    h2 {
        font-size: px2rem(28) !important;
    }
    h3 {
        font-size: px2rem(24) !important;
    }
    h4 {
        font-size: px2rem(20) !important;
    }
}
.accordion {
    .accordion-item {
        border: unset;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        span{
            color: rgba(0,0,0,0.2) !important;
        }
    }
    .accordion-item:last-child {
        border: unset;
    }

    .accordion-button:focus {
        z-index: 3;
        border-color: unset;
        outline: 0;
        box-shadow: unset;
    }
    .accordion-button:not(.collapsed) {
        color: var(--primary);
        background-color: #fff;
        box-shadow: unset;
        padding-bottom: 30px !important;
        span{
            opacity: 1 !important;
            color: var(--primary) !important;
        }
        &::after {
            background: unset;
            content: "\f068";
            transform: unset;
        }
    }
    .accordion-button {
        font-size: unset;
        color: rgba(0, 0, 0, 0.3);
        // span{
        //     opacity: 0.4;
        // }
        &::after {
            background: unset;
            content: "\2b";
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            font-size: 26px;
        }
    }
    .accordion-button {
        &.arrow {
            color: #000;
            font-weight: 500;
            span{
                opacity: 1;
                color: var(--primary);
            }
            &::after {
                background: unset;
                content: "\f061";
                transform: unset;
                font-size: 16px;
                opacity: 0.2;
            }
        }
    }
    .accordion-button {
        &.arrow {
            &:not(.collapsed) {
                &::after {
                    background: unset;
                    content: "\f063";
                    transform: unset;
                    font-size: 16px;
                    opacity: 1;
                }
            }
        }
    }
}

.form-control {
    background: rgba(227, 233, 236, 0.4);
    border: 1px solid $gray;
    &::placeholder {
        color: #000;
    }
    &:focus {
        background: $gray;
        border-color: var(--primary);
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(25, 71, 85, 0.4);
    }
}
.form-select {
    background-color: rgba(227, 233, 236, 0.4);
    border: 1px solid $gray;
    &:focus {
        background-color: $gray;
        border-color: var(--primary);
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(25, 71, 85, 0.4);
    }
}
.nav-pills {
    .nav-link {
        border-radius: 0;
        padding: 8px 20px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.4);
        &.active {
            color: var(--primary);
            background-color: $gray;
        }
    }
    .show > .nav-link {
        color: var(--primary);
        background-color: $gray;
    }

    &.active-border-bottom{
        .nav-link {
            font-size: 22px;
            color: rgba(0, 0, 0, 0.3);
            &.active {
                color: #000;
                background-color: transparent;
                position: relative;
                height: 12px;
                width: 300px;
                margin-top: 30px;
                border-bottom: 1px solid var(--primary);
                border-left: 1px solid var(--primary);
                border-right: 1px solid var(--primary);
                @media (max-width: $tablet-devices) {
                    width: 220px;
                }
                span{
                    position: absolute;
                    width: inherit;
                    bottom: 10px;
                    left: 3px;
                    border: none;
                }
            }
            &.width-200{
                width: unset;
                &.active{
                    width: 200px !important;
                }
            }
        }   
    }
}

.scroll-spy {
    .list-group-item {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.4);
        border: unset;
        &:hover {
            background-color: white;
            color: #000;
        }
        &:focus {
            background-color: white;
            color: #000;
        }
        &.active {
            font-weight: 500;
            color: #000;
            background-color: white;
        }
    }
    &.active-dash {
        .list-group-item {
            &.active {
                &::before {
                    padding-right: 4px;
                    content: "—";
                }
            }
        }
    }
}

.solution-bg-1{
    background: url("../assets/img/solution-2.png") top center;
    background-size: cover;
}

smooth scrollbar css
html {
    &.lenis{
        height: auto;
    }
    
}
.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.img-animate {
    visibility: hidden;
    position: relative;
    overflow: hidden;
}