@charset "UTF-8";

//
// Typography
//
$font-weight-light:     300;
$font-weight-regular:   400;
$font-weight-medium:    500;
$font-weight-semibold:  600;
$font-weight-bold:      700;
$font-weight-extrabold: 800;
$font-weight-black:     900;


$font-size-base-px: 16;
// $font-family-heading: $font-family-base;


// Mixin for writing @font-face rules
//
// @param {String} $font-name - the name that will be referred to in the font-family property
// @param {String} $font-slug - font file name without the extension
// @param {String} $weight - font-weight
// @param {String} $style - font-style
// @mixin font-face($font-name, $font-slug, $weight: normal, $style: normal) {
//     @font-face {
//         font-family: #{$font-name};
//         src: url('../assets/fonts/#{$font-slug}.eot') format('eot');
//         src: local('../assets/fonts/#{$font-slug}'), local('AtypDisplay-Regular'),
//             url('../assets/fonts/#{$font-slug}.eot?#iefix') format('embedded-opentype'),
//             url('../assets/fonts/#{$font-slug}.woff2') format('woff2'),
//             url('../assets/fonts/#{$font-slug}.woff') format('woff'),
//             url('../assets/fonts/#{$font-slug}.ttf') format('truetype');
//         font-weight: $weight;
//         font-style: $style;
//     }
// }

@font-face {
    font-family: 'Atyp Display';
    src: url('../assets/fonts/AtypDisplay-Regular.eot');
    src: local('../assets/fonts/Atyp Display'), local('AtypDisplay-Regular'),
        url('../assets/fonts/AtypDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/AtypDisplay-Regular.woff2') format('woff2'),
        url('../assets/fonts/AtypDisplay-Regular.woff') format('woff'),
        url('../assets/fonts/AtypDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Atyp Display';
    src: url('../assets/fonts/AtypDisplay-Medium.eot');
    src: local('../assets/fonts/Atyp Medium'), local('AtypDisplay-Medium'),
        url('../assets/fonts/AtypDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/AtypDisplay-Medium.woff2') format('woff2'),
        url('../assets/fonts/AtypDisplay-Medium.woff') format('woff'),
        url('../assets/fonts/AtypDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

// @font-face {
//   font-family: 'Atyp Display';
//   src: url('../assets/fonts/AtypDisplay-Semibold.eot');
//   src: local('../assets/fonts/Atyp Display Semibold'), local('AtypDisplay-Semibold'),
//       url('../assets/fonts/AtypDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
//       url('../assets/fonts/AtypDisplay-Semibold.woff2') format('woff2'),
//       url('../assets/fonts/AtypDisplay-Semibold.woff') format('woff'),
//       url('../assets/fonts/AtypDisplay-Semibold.ttf') format('truetype');
//   font-weight: 600;
//   font-style: normal;
// }


// Convert px to rem
//
// @param {Number} $size - size in px (unitless)
// @return {Number} - size in rem (with unit)
@function px2rem($size) {
    @return $size / $font-size-base-px + rem;
}

// Convert px to em
//
// @param {Number} $size - size in px (unitless)
// @param {Number} $parent-size - size of parent in px (unitless)
// @return {Number} - size in em (with unit)
@function px2em($size, $parent-size) {
    @return $size / $parent-size + em;
}

@function to-rgb($value) {
  @return red($value), green($value), blue($value);
}

